@tailwind base;
@tailwind components;
@tailwind utilities;
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bold;

  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  transition: 0.4s; /* for light mode animation */
}
div#__next {
  height: 100vh;
  width: 100vw;
}

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #c7d5ec;
  --color-bg-toggle: #1e90ff;
}
body,
body[data-theme="dark"] {
  --color-text-primary: #c059c8;
  --color-text-secondary: #61c859;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}
body,
body[data-theme="yellow"] {
  --color-text-primary: #76b9eb;
  --color-text-secondary: #767feb;
  --color-bg-primary: #b9eb76;
  --color-bg-toggle: #1e90ff;
}
body,
body[data-theme="fire"] {
  --color-text-primary: #746c25;
  --color-text-secondary: #2d7425;
  --color-bg-primary: #74252d;
  --color-bg-toggle: #a9a9a9;
}
body,
body[data-theme="blue"] {
  --color-text-primary: #661425;
  --color-text-secondary: #551466;
  --color-bg-primary: #142566;
  --color-bg-toggle: #1e90ff;
}
body,
body[data-theme="green-fire"] {
  --color-text-primary: #29328e;
  --color-text-secondary: #298e86;
  --color-bg-primary: #298e53;
  --color-bg-toggle: #1e90ff;
}
body,
body[data-theme="green"] {
  --color-text-primary: #3986a9;
  --color-text-secondary: #394ea9;
  --color-bg-primary: #4ea939;
  --color-bg-toggle: #1e90ff;
}
